<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://unikey.hopto.org:3306/forum</property>
        <property name="connection.username">unikey1991</property>
        <property name="connection.password">qwerty12345</property>
        <property name="connection.pool_size">10</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.connection.autocommit">true</property>
        <mapping class="hiber.User" />
    </session-factory>
</hibernate-configuration>